@import 'src/styles/colors';

:local(.card) {
  padding: 19px 18px;
}

:local(.open) {
  background: transparent;
  border: none;
  font-size: 18px;
  color: $black;
  padding: 0;
  width: 100%;
  display: flex;
  height: 100%;
  align-items: center;
}

:local(.box) {
  border-radius: 8px;
  border: 1px solid $very-light-blue;
  padding: 16px 16px 20px 16px;
}

:local(.title) {
  font-size: 14px;
  color: $battleship-grey;
}

:local(.value) {
  font-size: 14px;
  color: $black;
}

:local(.col):nth-child(2) {
  text-align: center;
  justify-content: center;
}

:local(.col):nth-child(2) {
  text-align: right;
  justify-content: end;
}
