$pale-grey: #f8f9fb;
$battleship-grey: #767a80;
$vibrant-blue: #0e41f5;
$black: #1d1d1d;
$light-grey-blue: #aeb1b7;
$pale-purple-blue: #e3e9ff;
$pale-grey-blue: #e2e5eb;
$dark-navy: #09112c;
$yellow: #ffae4b;
$orange: #f25925;
$so-light-grey: #f5f5f7;
$dark-mint: #37c98f;
$very-light-blue: #e8ebf1;
$secondary-very-light-blue: #eef0f4;
$grey: #cdcdcd;
$so-light-grey-blue: #dee3ed;








