@import 'src/styles/colors';
@import 'src/styles/vars';

:local(.back) {
  background: $pale-grey;
  padding: 0 40px;

  @media (max-width: $md) {
    padding: 0 20px;
  }

  @media (max-width: $sm) {
    padding: 0 15px;
  }
}
